@import "tailwindcss";

body{
  /* background:#111; */
}

@font-face{
  font-family:font1;
  srd:url(../public/fonts/lausanne-300.woff2);
}
@font-face{
  font-family:font2;
  srd:url(../public/fonts/lausanne-500.woff2);
}

body{
  overflow-x:hidden;
}

.moveX{
  animation-name: moveAnimation;
  animation-duration:6s;
  animation-iteration-count:infinite;
  animation-timing-function:linear;

}

.moveLink{
  opacity:0;
  transition: all ease 0.2s;

}

.link:hover .moveLink{
  opacity:1;
}

@keyframes moveAnimation{
  from{
    trsform: translateX(0);
  }
  to{
    transform: translateX(-100%);
  }
}